* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: arial,sans-serif;
    font-size: 10px;
}

header,
main,
footer {
    font-size: small;
}

header {
    height: 5rem;
}

header nav {
    text-align: right;
    height: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
    margin: .7rem 4rem;
}

nav ul .menu {
    margin-right: 1rem;
}

nav ul .menu:hover {
    color: #000;
}

nav ul .sign--in {
    background: #4285f4;
    border-radius: 2px;
}

nav ul .sign--in a {
    color: #fff;
    font-weight: bold;
}

nav ul .sign--in:hover a {
    text-decoration: none;
    cursor: default;
}

nav ul li:hover a {
    text-decoration: underline;
}

nav ul li a {
    display: inline-block;
    color: #222;
    text-decoration: none;
    padding: .7rem 1rem;
}

main {
    width: 100%;
    height: 75%;
}

main .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}